@model GroupResultsModel

<div class="group">
    <h2 class="group-title">@Model.Group.Name</h2>
    @if (Model.Results.Length > 1)
    {
        <div class="targets-summary">
            Overview:
            @foreach (var x in Model.Results)
            {
                <a href="#@x.Target.Slug" class="target-jump-link">
                    @Formatter.FormatTextSymbol(x.Results.Length == 0 ? Status.Unknown : x.Results[^1].Status)
                    @x.Target.Name
                </a>
            }
        </div>
    }

    <div class="targets">
        @foreach (var targetResults in Model.Results)
        {
            @await Html.PartialAsync("_TargetView", targetResults)
        }
    </div>
</div>
