@model GroupResultsModel

<div class="group">
    <h2>@Model.Group.Name</h2>
    @if (Model.Results.Length > 1)
    {
        <div class="targets-summary">
            Overview: @string.Join(", ", Model.Results.Select(x => (x.Results.Length == 0 ? "❔" : Formatter.FormatTextSymbol(x.Results[^1].Status)) + x.Target.Name))
        </div>
    }

    <div class="targets">
        @foreach (var targetResults in Model.Results)
        {
            @await Html.PartialAsync("_TargetView", targetResults)
        }
    </div>
</div>
