<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@(ViewData["Title"] ?? "Online Status") - Meercat Monitor</title>
    <link rel="icon" href="~/favicon.avif" />
    <style>
        :root {
            color-scheme: light dark;
        }

        html {
            background: light-dark(#eee, #111);
            color: light-dark(#111, #ccc);
        }

        a:link {
            color: light-dark(#118, #88f);
        }

        a:focus {
            color: light-dark(#55f, #55f);
        }

        a:visited {
            color: light-dark(#33f, #77f);
        }

        .status-grid {
            display: grid;
            grid-template: auto auto auto;
            gap: 1em;
            justify-content: start;
        }

        .status {
        }

        .time {
            font-style: italic;
        }

        .history {
            grid-column: 1 / 4;

            display: flex;
        }
    </style>
</head>
<body>
    @RenderBody()
    <div id="tooltip-overlay" popover="hint"></div>
    <script>
        const tt = document.getElementById('tooltip-overlay')
        for (const x of document.querySelectorAll('.status[title]')){
            x.addEventListener('mouseover', ev => {
                tt.hidePopover()
                const source = ev.target
                tt.innerHTML = source.getAttribute('title')
                tt.showPopover({'source': source})
            })
            x.addEventListener('mouseout', ev => {
                tt.hidePopover()
            })
        }
    </script>
</body>
</html>
