<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="color-scheme" content="dark light">
    <title>@(ViewData["Title"] ?? "Online Status") - Meercat Monitor</title>
    <link rel="icon" href="~/favicon-64.avif" />
    <style>
        :root {
          padding: 0 1em;
        }

        .status-grid {
            display: grid;
            grid-template: "name status time ." "history history history history";
            gap: 1em;
            justify-content: start;

            margin-bottom: 2em;
        }

        .status-grid > * {
            justify-self: start;
        }

        .status-grid > .target {
            grid-area: name;
        }

        .status-grid > .status {
            grid-area: status;
        }
        .status.online {
          background: green;
        }
        .status.offline {
          background:red;
        }

        .time {
            grid-area: time;
            font-style: italic;
        }

        .history {
            grid-area: history;

            display: flex;
            flex-wrap: wrap;
            gap: 0.5em 2px;
            align-items: end;
        }
        .history .status {
            min-width: 1em;
            min-height: 4px;
        }

        #tooltip-overlay {
            white-space: pre;
        }
    </style>
</head>
<body>
    @RenderBody()
    <div id="tooltip-overlay" popover="hint"></div>
    <script>
        const tt = document.getElementById('tooltip-overlay')
        for (const x of document.querySelectorAll('.status[title]')){
            x.addEventListener('mouseover', ev => {
                tt.hidePopover()
                const source = ev.target
                tt.innerHTML = source.getAttribute('title')
                tt.showPopover({'source': source})
            })
            x.addEventListener('mouseout', ev => {
                tt.hidePopover()
            })
        }
    </script>
</body>
</html>
