@page "/"
@{
    Layout = "_Layout";
}
@namespace MeercatMonitor.Pages
@model IndexPageModel
@{
    ViewData["Title"] = "Online Status";
}

<h1>@ViewData["Title"]</h1>

@if (Model.GroupResults.Length == 0)
{
    <p><i>No monitors configured - no status known</i></p>
}
else
{
    @foreach (var x in @Model.GroupResults)
    {
        @await Html.PartialAsync("_GroupView", x)
    }
}
