@page "/{slug}/"
@{
    Layout = "_Layout";
}
@namespace MeercatMonitor.Pages
@using static MeercatMonitor.OnlineStatusStore
@model GroupPageModel

@if (Model.GroupResults is null)
{
    <h1>Online Status</h1>
    <p>Not found</p>
}
else
{
    <h1>@Model.GroupResults.Group.Name Online Status</h1>
    @await Html.PartialAsync("StatusTable", Model.GroupResults)
}
