@page "/{slug}/"
@{
    Layout = "_Layout";
}
@namespace MeercatMonitor.Pages
@using static MeercatMonitor.OnlineStatusStore
@model GroupPageModel
@{
    ViewData["Title"] = Model.GroupResults is null ? "Online Status" : $"{Model.GroupResults.Group.Name} Online Status";
}

<h1>@ViewData["Title"]</h1>
@if (Model.GroupResults is null)
{
    <p>Not found</p>
}
else
{
    @await Html.PartialAsync("StatusTable", Model.GroupResults)
}
