@page

@using MeercatMonitor;
@using MeercatMonitor.Pages;

@model IndexModel
@inject OnlineStatusStore onlineStatusStore;

<h1>Online Status</h1>

@foreach (var status in onlineStatusStore) {
    <p>@status.Key : @(status.Value ? "✅" : "🛑") </p>
}
