@page "/"
@{
    Layout = "_Layout";
}
@namespace MeercatMonitor.Pages
@using static MeercatMonitor.OnlineStatusStore
@model IndexPageModel
@{
    ViewData["Title"] = "Online Status";
}

<h1>@ViewData["Title"]</h1>

@if (Model.GroupResults.Length == 0)
{
    <p><i>No monitors configured - no status known</i></p>
}
else if (Model.GroupResults.Length == 1)
{
    @await Html.PartialAsync("StatusTable", Model.GroupResults.Single())
}
else
{
    @foreach (var x in @Model.GroupResults)
    {
        <h2>@x.Group.Name</h2>
        @await Html.PartialAsync("StatusTable", x)
    }
}
